<h2>There are <span><%=@contact_list.count%></span> contacts</h2>
<%@contact_list.each do |contact|%>
	<span class = "contacts">
		<%= contact.full_name %> 
		(<%= contact.email%>)
		<a href="/contacts/<%= contact.id%>">View</a>
		<span class = "options"><a href="/contacts/<%= contact.id%>/edit">Edit</a> | <a href="/contacts/<%= contact.id%">Delete</a></span>
	</span>
<%end%>